/* header section */


.banner{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 550px;
    width:1220px;
    background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-left: 70px;
    margin-top: 20px;
   border-radius: 16px;
}
.banner-content{
    text-align: center;
    font-family: 'Merriweather', serif;
    margin-bottom: 35px;

  
}
.banner h3{
    color: #FFF;
font-size: 32px;
font-weight: 400;
line-height: normal;
}
.banner h1{
    color: #FFF;
font-size: 42px;
font-weight: 900;

}
.banner-heading{
    width: 632px;
}
/* main  */
.category-conteiner h1{
    font-family: 'Inter', sans-serif;
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;

}
.category-conteiner p{
    font-family: 'Inter', sans-serif;
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;

}
.category-conteiner h2{
    font-family: 'Inter', sans-serif;
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}
.category-content{
    background-image: url(../resources/New\ Year\ Photo.png);
    background-repeat: no-repeat;
    width: 802.9px;
    height: 500px;
    
}
.category{
    justify-content: center;
    align-items: center;
    display: flex;
}
/* Second banner */
.second-banner{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 550px;
    width:1220px;
    position: relative;
    margin-left: 70px;
    border-radius: 16px;
   
}
.second-contents h1{
 color: #FFF;
font-family: Merriweather;
font-size: 54px;
font-weight: 900;
letter-spacing: 7.04px;
width: 642px;
margin-left: 90px;
padding-top: 100px;
}
.second-contents p{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 697px;
margin-left: 90px;
}
.second-contents button{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;

font-weight: 700;
line-height: normal;
text-transform: uppercase;
background: none;
border: none;
margin-left: 90px;
padding-top: 50px;
}
.second-banner{
    position: relative;
}
/* Vanue section */
.vanue-content{
    background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 550px;
    width:1220px;
    margin-left: 70px;
    margin-top: 100px;
    position: relative;
}
.vanue-content h3{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;}


.vanue-times{
    width: 620px;
    height: 168px;
     padding-top: 100px; 
    text-align: center;
    margin-left: 300px; 
    
}
.vanue-red{
    color: #F00;
    text-transform: capitalize;
}
/* offer section */
.offer-text h3{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.offer-text h1{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.offer-text p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
width: 390px;
height: 120px;
}
.imggg{
    border: 25px white solid;
    border-radius: 50%;
    outline: 10px #FF0000 solid;
    height: 304px;
    width: 304px;
}
.offer-conteiner{
    display: flex;
    justify-content: space-around;
    height: 550px;
    width:1220px;
    margin-left: 70px;
}
.offer-content h1{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.offer-content p{
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.offer-content{
    width: 270px;
}
/* holiday-discount section */
.discount-content h3{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-align: center;
}
.discount-content h1 span{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    
}
.discount-content h1{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-align: center;
}
.discount-content p{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px; /* 160% */
width: 800px;
margin-left: 270px;
}


.discount-image{
    height: 700px;
    width:1220px; 
    display: flex;
    display: flex;
    
    position: relative;
}
.image-st{
    background: url(../resources/Rectangle\ 2.png);
    width: 1220px;
    height: 200px;
    position: relative;
    bottom: 0;
    margin-left: 70px;
    border-radius: 16px 0px 16px 16px;
    position:absolute;
    bottom: 0;
}
.image-nd{
        background: url(../resources/Group\ 75.png);
        width:400px;
        height: 400px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 90px;
        position:absolute;
        top: 0;
        margin-top: 300px;
        margin-left: 200px;
}
.image-rd{
    background: url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    margin-top: 67px;
    margin-left: 861px;
    border-radius: 16px 16px 0px 0px;
    position: relative;
}
.image-th{
    background: url('../resources/Group\ 44.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    width: 350px;
    margin-top: 40px;
    margin-left: -200px;
}
/* portfolio section */
.portfolio-content h3{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.portfolio-content h1{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.portfolio-content p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
width: 896px;
}
.portfolio-content{
    margin-left: 70px;
    margin-top: 200px;
}
.portfolio img{
    width: 400px;
height: 400px;
}
.portfolio-image{
    margin-left: 70px;
}
/* news section */
.news-icon{
    background: url('../resources/Group\ 61.png');
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-left: 280px

}
.newslatter{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 160px;
}
.news-content h2{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.news-content p{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
width: 706px;
}
.btn{
    position: relative;
   display: flex;
   margin-left: 430px;
   margin-top: 30px;
}
.btn input{
    width: 350px;
height: 50px;
border-radius: 50px;
background: #FFF;
border: none;
}
.btn button{
    width: 150px;
height: 50px;
border-radius: 0px 50px 50px 0px;
background: #F00;
color: #FFF;
border: none;
}
/* footer section */
.footer-header h5{
    color:#FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
margin-top: 90px;
width: 380px;
height: 80px;
}
.footer-header p{
    color:#FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
margin-top: 90px;
}
.footer-header{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}

.footer-icons{
    margin: 40px 37%;
    display: flex;
}
.footer-icons img{
margin-right: 24px;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.footer-end h5{
    color:#FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.footer-end h4{
    color:#FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;

}
.footer-conteiner{
    width: 1340px;
height: 509px;
background: #070211;
margin-top: 150px;
}
.footer-conteiner hr{
    margin-right: 80px;
    margin-left: 80px;
}