/* header section */


.banner{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 550px;
    width:1220px;
    background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-left: 70px;
    margin-top: 20px;
   border-radius: 16px;
   
   
}
.banner-content{
    text-align: center;
    font-family: 'Merriweather', serif;
    margin-bottom: 35px;

  
}
.banner h3{
    color: #FFF;
font-size: 32px;
font-weight: 400;
line-height: normal;
}
.banner h1{
    color: #FFF;
font-size: 42px;
font-weight: 900;

}
.banner-heading{
    width: 632px;
}